@import "../../styles/variables";

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px 0;
  flex-wrap: nowrap;
  justify-content: space-between;

  .leftSide {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .task {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .functionIcon {
    width: 20px;
    width: 20px;
    min-width: 20px;
    min-height: 20px;
    margin: 0 3px;
    cursor: pointer;

    &.green {
      color: $green;
    }

    &.red {
      color: $red;
    }
  }

  .priority {
    margin-right: 20px;
    min-width: 35px;
    min-height: 35px;
    width: 35px;
    height: 35px;
    background-color: $blue;
    border-radius: 50%;
    color: #ffffff;
    padding: 4px;
  }

  .functionsContainer {
    display: inline-flex;
  }
}
