// Colors
$blue: #4eb0fb;
$yellow: #ffb200;
$green: #52cd6c;
$red: #f92200;
$gray: #e2e2e2;

@mixin input {
  width: 100%;
  border: none;
  line-height: 30px;
  font-size: 16px;
  border-bottom: 2px solid $blue;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #c0bcbc;
  }
}

@mixin label {
  margin: 10px 0px;
  font-size: 13px;
  color: $blue;
}

@mixin select {
  border: 1px solid $blue;
  padding: 5px;
  &:focus {
    outline: none;
  }
  option {
    background-color: #eff7f6;
  }
}

@mixin button {
  background-color: $blue;
  border: none;
  color: #ffffff;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
}
