.container {
  width: 100%;
  min-width: 200px;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  position: relative;
  border-bottom: 1px solid #ededed;

  .icon {
    position: absolute;
    top: -55px;
  }

  .content {
    margin-left: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .options {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .option {
      margin-right: 5px;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  @media screen and (min-width: 340px) {
  }

  .title {
    color: #7f8fbf;

    @media screen and (min-width: 340px) {
    }
  }
}
