.container {
  min-width: 200px;
  flex-direction: row;
  position: absolute;
  top: -30px;
  display: flex;
  flex-direction: row;
  @media screen and (min-width: 340px) {
    top: -45px;
  }

  .title {
    position: absolute;
    color: #7f8fbf;
    left: 70px;
    top: 40px;

    @media screen and (min-width: 340px) {
      left: 100px;
      top: 60px;
    }
  }
}
