@import "../../styles/_variables";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;

  .title {
    font-weight: 700;
    font-size: 24px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .searchContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .searchInput {
      flex-grow: 1;
      margin-right: 10px;
    }

    .removeSearchText {
      min-width: 20px;
      min-height: 20px;
      width: 20px;
      height: 20px;
      color: $red;
      cursor: pointer;
    }

    label {
      width: 100%;
      @include label;
    }

    select {
      width: 100%;
      @include select;
    }

    button {
      @include button;
    }

    input {
      @include input;
    }
  }
}
